<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Garage Trempu - Gestion RDV</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
          <link rel="stylesheet" href="app.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/70fabb1b7e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="header-dashboard">
            <img class="logo-dashboard" src="logo-garage.png" alt="logo du garage">
            <nav class="nav-dashboard">
                <a href="/new_appointment">Nouveau RDV</a>
                <a href="/history">Historique RDV</a>
                <a href="/logout">Déconnexion</a>
            </nav>
        </header>
        <main class="main-dashboard">
            <div class="rdv-filter_container">
                <span>RENDEZ-VOUS À VENIR ({{ totalAppointmentsInCurrentPage }})</span>
            </div>
            <form action="{{ path('dashboard') }}" method="post" class="form-filter-dashboard">
                <div class="select-date-container">
                    <input type="date" id="selected-date" name="selected-date">
                    <button type="submit" class="button-filterbydate">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
                <div class="link-see-all-container">
                    <a href="{{ path('dashboard') }}">Voir tout ({{ totalAppointments }})</a>
                </div>
            </form>

            <section class="rdv-all-cards">
                {% for appointment in appointments %}
                <div class="rdv-card_container">
                    <span class="rdv-date">{{ appointment.date|date('d/m/Y') }}</span>
                    <div class="rdv-card">
                        <p class="rdv-time">{{ appointment.date|date('H\\hi') }}</p>
                        <p class="rdv-purpose">{{ appointment.reason }}</p>
                        <div class="rdv-owner_container">
                            <p class="rdv-car">{{ appointment.car }}</p>
                            <p class="rdv-owner">{{ appointment.customer }}</p>
                        </div>
                    </div>
                    <button class="rdv-button-modifier" data-date="{{ appointment.date|date('d/m/Y') }}" data-time="{{ appointment.date|date('H\\hi') }}" data-reason="{{ appointment.reason }}" data-car="{{ appointment.car }}" data-customer="{{ appointment.customer }}" data-phone="{{ appointment.phone }}">GÉRER LE RDV</button>
                </div>

                <!-- ICI LE CODE DE LA MODALE-->
                <div class="modal-dashboard">
                    <div class="closebuttonmodal_container">
                        <button class="closebutton_modal">X</button>
                    </div>
                    <div class="main-container_modal">
                        <section class="section-modal">
                            <div class="section-modal-subcontainer">
                                <div class="cutted-container">
                                    <div class="half-div-container">
                                        <span class="label-modal">Date du RDV</span>
                                        <span class="data-modal data-modal-date"> {{ appointment.date|date('d/m/Y') }}</span>
                                    </div>
                                    <div class="half-div-container">
                                        <span class="label-modal">Heure</span>
                                        <span class="data-modal data-modal-time">{{ appointment.date|date('H\\hi') }}</span>
                                    </div>
                                </div>
                                <div class="half-div-container">
                                    <span class="label-modal">Motif du RDV</span>
                                    <span class="data-modal data-modal-reason"> {{ appointment.reason }}</span>
                                </div>
                            </div>
                            <div class="section-modal-subcontainer">
                               <div class="cutted-container">
                                   <div class="half-div-container">
                                       <span class="label-modal">Client</span>
                                       <span class="data-modal data-modal-customer"> {{ appointment.customer }}</span>
                                   </div>
                                   <div class="half-div-container">
                                       <span class="label-modal">Téléphone</span>
                                       <span class="data-modal data-modal-phone">{{ appointment.phone }}</span>
                                   </div>
                               </div>
                               <div class="half-div-container">
                                   <span class="label-modal">Véhicule</span>
                                   <span class="data-modal data-modal-car"> {{ appointment.car }}</span>
                               </div>
                           </div>


                        </section>
                        <aside class="aside-modal">
                            <a href="{{ url("finish", {
                                "id" : appointment.id
                            }) }}" class="link-in-modal">
                                <button id="finish-button" class="button-modal"> RDV TERMINÉ</button>
                            </a>
                            <a href="{{ url("modify_appointment", {"id" : appointment.id, "from": "dashboard"}) }}" class="link-in-modal">
                                <button id="modify-button" class="button-modal">MODIFIER</button>
                            </a>
                            <a href="{{ url("delete", {"id" : appointment.id, "from": "dashboard"}) }}" class="link-in-modal">
                                <button id="delete-button" class="button-modal">SUPPRIMER</button>
                            </a>
                            <a class="link-in-modal" href="{{ path('billing_form') }}">
                                <button id="invoice-button" class="button-modal">FACTURE/DEVIS</button>
                            </a>

                        </aside>
                    </div>                  
                </div>
               
            {% endfor %}
                
            </section>
        </main>
    </body>
    <script src="modal.js"></script>

</html>
